<div class="container">
    <img src="~/images/faleconosco1.jpg" alt="Fale Conosco" />

    <div class="jumbotron">

        <h3>Queremos ouvir o que tem a dizer</h3>

        <p>Se voce tiver alguma duvida ou sugestão fale conosco</p>

        <p>
            <span><img src="~/images/Envelope-icon24.png" /></span>
            <h5><email endereco="limamateus67@gmail.com" conteudo="Enviar um e-mail"></email></h5>
            <br/>
            <span>
                <img src="~/images/phone-app-icon.png" />
            </span>
            <h5>(11) 4002-8922</h5>
            <br />
            <span>
                <img src="~/images/Home-iconred.png" />

            </span>
            <h5>Av.  Não sei ainda, Nº 123 - 12345-000 - São Paulo</h5>
        </p>
    </div>

</div>