<br />


<img src="~/images/acesso-negado.jpg"  width="200" height="160"  alt="Voce não possui acesso " class="marginTop1" />

<div class-"coteiner">
    <div class="jumbotron">


        <p>
            <h3> Somente administrador </h3>
        </p>
    </div>
    

   <a asp-area="" asp-controller="Home" asp-action="Index">Voltar a Home Page</a>

</div>