<br />


<img src="~/images/adminarea.jpg" alt="Àrea de Administração " class="marginTop1" />

<div class-"coteiner">
    <div class="jumbotron">


        <p>
            <h3> Está area é do Administrador </h3>
        </p>
    </div>
    

   <a asp-area="" asp-controller="Home" asp-action="Index">Voltar a Home Page</a>

</div>