@{
    ViewData["Title"] = "UploadFiles";
}

<img src="~/images/upload2.png" />

<hr />

<div  class="jumbotron jumbotron-fluid">


    <div class="container">

        @if(ViewData["Erro"] != null)
        {
            <img src="~/images/erro1.png" width="150" height="150" />

            <h4>@ViewBag["Erro"]</h4>
        }
    </div>


    <div class="container">

        @if (ViewData["Resultado"] != null)
        {
              <h4>@ViewData["Resultado"]</h4>

              <hr />

            @if(ViewBag.Arquivos != null)
            {
                @foreach (string arquivo  in ViewBag.Arquivos)
                {
                  <li>@arquivo</li> 
                }
            }
        }

    </div>
</div>